<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<zinli>
				<active>0</active>
				<model>SarrapiaTech\Zinli\Model\Payment\Zinli</model>
				<order_status>pending</order_status>
				<title>Zinli</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</zinli>
		</payment>
	</default>
</config>
